body {
  background-color: #e5e5e5;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #800080;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.container {
  margin: auto;
  max-width: 900px;
  padding: 0 20px;
}
