* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

body,
input {
  font-size: 16pt;
}

a {
  text-decoration: none;
}

.button {
  background-color: #e0e0e0;
  border: none;
  padding: 12px 30px;
  text-decoration: none;
}

.button:hover:not([disabled]) {
  background-color: #c0c0c0;
  cursor: pointer;
}

.container {
  margin: auto;
}

.form-control {
  margin-bottom: 24px;
}

.form-control label {
  color: #707070;
  display: block;
  font-size: 10pt;
}

.form-control input[type=text],
.form-control input[type=password] {
  border: none;
  border-bottom: 1px solid #707070;
  padding: 8px 0;
  width: 100%;
}

.form-control input[type=text]:focus,
.form-control input[type=password]:focus {
  border-bottom-color: black;
  outline: none;
}

.secondary {
  color: #707070;
  margin-bottom: 24px;
}

.title {
  font-size: 36pt;
  margin-bottom: 24px;
}

@media (min-width: 940px) {
  .container {
    max-width: 900px;
  }
}
