html,
body,
#root {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  margin: auto;
}

@media (min-width: 940px) {
  .container {
    max-width: 900px;
  }
}
