body {
  background: #f7f7f7;
  color: #202020;
  font-family: sans-serif;
  margin: 0;
}

.container {
  margin: auto;
  max-width: 800px;
}

.header {
  background-color: #202020;
  background-position: center;
  background-image: url(/static/img/bg.png);
  background-repeat: no-repeat;
  color: #ffffff;
  height: 300px;
}

.header h1 {
  font-size: 36pt;
  font-weight: normal;
  margin: 0;
  padding-top: 8px;
}

.header h1 img {
  width: 48px;
}

.item {
  border-bottom: 4px solid #eee;
  display: flex;
  font-size: 16pt;
  justify-content: space-between;
  padding: 24px 0;
}

.item .name {
  font-weight: bold;
}

.item .state.stopped {
  color: #aa0000;
}
