.ContainerTable {
  border-collapse: collapse;
  width: 100%;

  thead {
    background-color: #333333;
    color: white;

    tr {
      th {
        font-weight: normal;
        padding: 8px 16px;

        &:first-child { border-top-left-radius: 4px; }
        &:last-child  { border-top-right-radius: 4px; }
      }
    }
  }
}
