.header_outer {
  background-color: #e0e0e0;
  margin-bottom: 32px;
}

.header_inner {
  display: flex;
}

.logo {
  display: block;
  margin: 16px 32px 16px 0;
  width: 32px;
}

.nav {
  display: grid;
  grid-auto-flow: column;
  column-gap: 16px;
}

.nav a {
  align-items: center;
  display: flex;
  position: relative;
}

.nav a.active::after {
  background-color: #800080;
  bottom: 0;
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
}

.separator {
  flex-grow: 1;
}
