.request {
  column-gap: 8px;
  display: grid;
  grid-template-columns: min-content min-content 1fr;
}

.request .method {
  background-color: #707070;
  border-radius: 3px;
  color: white;
  padding: 0 4px;
}

.request .host {
  font-weight: bold;
}

.request .path {
  color: #707070;
  mask-image: linear-gradient(90deg, #000 90%, transparent);
  overflow: hidden;
  white-space: nowrap;
}

.status {
  font-weight: bold;
}

.status_good {
  color: #00a000;
}

.status_info {
  color: #707070;
}

.status_bad {
  color: #c03030;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 48px;
}
