.table {
  display: grid;
  font-size: 12pt;
}

.table .cell {
  padding: 8px;
}

.table .cell.striped {
  background-color: #f0f0f0;
}

.table .header {
  border-bottom: 1px solid black;
  font-weight: bold;
}

.table .empty {
  color: #707070;
  grid-column: 1 / -1;
  padding: 64px 0;
  text-align: center;
}
