.table {
  border-collapse: collapse;
  font-size: 12pt;
  width: 100%;
}

.table th,
.table td {
  padding: 8px;
}

.table th {
  border-bottom: 1px solid black;
  text-align: left;
}

.table tbody tr:nth-of-type(odd) {
  background-color: #f0f0f0;
}

.table td.empty {
  padding: 64px 16px;
  text-align: center;
}
