<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>i5 &mdash; Status</title>

    <link rel="icon" href="/static/img/favicon-32.png" sizes="32x32">
    <link rel="stylesheet" href="/static/css/i5.css">
  </head>
  <body>
    <div class="header">
      <div class="container">
        <h1>
          <img src="/static/img/logo.png">
          Status Page
        </h1>
      </div>
    </div>
    <div class="container">

      <!-- Docker containers -->
      <h1>Containers</h1>
      <div class="items">
        {% for c in info %}
          <div class="item">
            <div class="name">{{ c.Name }}</div>
            <div class="state{% if not c.Running %} stopped{% endif %}">
              {% if c.Running %}
                Running
              {% else %}
                Stopped
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>

      <!-- Database servers -->
      <h1>Database Servers</h1>
      <div class="items">
        {% for d in dbman.List() %}
          <div class="item">
            <div class="name">{{ d.Title() }}</div>
            <div class="info">{{ d.Version() }}</div>
          </div>
        {% endfor %}
      </div>

    </div>
  </body>
</html>
